<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>GNFE</display-name>

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>cadastros/orcamentos/orcamento-list.xhtml</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<!-- <param-value>Development</param-value> -->
		<param-value>Production</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.VALIDATE_EMPTY_FIELDS</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.UPLOADER</param-name>
		<param-value>commons</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.ocpsoft.rewrite.servlet.impl.RewriteServletRequestListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>RewriteFilter</filter-name>
		<filter-class>org.ocpsoft.rewrite.servlet.RewriteFilter</filter-class>
	</filter>

	<filter>
		<filter-name>sessionFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
	</filter>

	<filter>
		<filter-name>primeFacesFileUploadFilter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>primeFacesFileUploadFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ASYNC</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>RewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<description>Data Source</description>
		<res-ref-name>gnfeJDBC</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<error-page>
		<error-code>404</error-code>
		<location>/erro/erro404.xhtml</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/erro/erro403.xhtml</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/erro/erro500.xhtml</location>
	</error-page>

	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/</location>
	</error-page>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>qualquer-pagina</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- liberado geral :) -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>resources</web-resource-name>
			<url-pattern>/resources/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>faces-resources</web-resource-name>
			<url-pattern>/javax.faces.resource/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>login</web-resource-name>
			<url-pattern>/login.xhtml</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>trocar-senha</web-resource-name>
			<url-pattern>/trocar-senha/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>cadastrar</web-resource-name>
			<url-pattern>/cadastrar/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Restful</web-resource-name>
			<url-pattern>/rest/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>swagger</web-resource-name>
			<url-pattern>/swagger-ui.html</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>swagger-docs</web-resource-name>
			<url-pattern>/v2/api-docs/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>gnfe-realm</realm-name>
		<form-login-config>
			<form-login-page>/login.xhtml</form-login-page>
			<form-error-page>/login.xhtml?error=true</form-error-page>
		</form-login-config>
	</login-config>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>swagger-docs</web-resource-name>
			<url-pattern>/v2/api-docs/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ADMIN</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<role-name>ADMIN</role-name>
	</security-role>

	<security-role>
		<role-name>FUNCIONARIO</role-name>
	</security-role>

	<security-role>
		<role-name>FORNECEDOR</role-name>
	</security-role>

	<security-role>
		<role-name>CLIENTE</role-name>
	</security-role>

</web-app>